<div class="component-container">
  <div class="title-con">
    {{title}}
  </div>
  <div class="content-con">
    <div class="row field-row">
      <div class="col-md-7">
        <label class="label-mandatory width_60px">{{type}}:</label>
        <div class="input-text-con calc_width_60">
          <app-dropdown [options]="ddOptions" [required]="true"></app-dropdown>
        </div>
      </div>
      <div class="col-md-3 paddright0">
        <div class="right-item">
          <label class="label width_80px">Airport Code:</label>
          <div class="input-text-con calc_width_80">
            <app-dropdown [options]="ddOptions" (selection)="airportCodeChangehandler($event)"></app-dropdown>
          </div>
        </div>
      </div>
      <div class="col-md-2 paddleft0">
        <div class="right-item">
          <label class="label width_50px">Zone:</label>
          <div class="input-text-con calc_width_50">
            <app-input-text [type]="'text'" [placeHolder]="'02'" [required]="true" [submitted]=isSubmit>
            </app-input-text>
          </div>
        </div>
      </div>
    </div>
    <div class="row field-row">
      <div class="col-md-6">
        <label class="label-mandatory width_60px">Address 1:</label>
        <div class="input-text-con calc_width_60">
          <app-input-text [type]="'text'" [placeHolder]="'Address'" [required]="true" [submitted]=isSubmit>
          </app-input-text>
        </div>
      </div>
      <div class="col-md-5 offset-md-1">
        <label class="label width_80px">KSMS #:</label>
        <div class="input-text-con calc_width_80">
            <app-dropdown [options]="ddOptions" [required]="true"></app-dropdown>
        </div>
      </div>

    </div>
    <div class="row field-row">
      <div class="col-md-6">
        <label class="label-nomandatory width_60px">Address 2:</label>
        <div class="input-text-con calc_width_60">
          <app-input-text [type]="'text'" [placeHolder]="'Address 2'"></app-input-text>
        </div>
      </div>
      <div class="col-md-6">
        <button class="btn-primary right-item">Special Charges</button>
      </div>
      
    </div>
    <div class="row field-row">
      <div class="col-md-6">
        <label class="label-mandatory width_60px">City:</label>
        <div class="input-text-con calc_width_60">
          <app-input-text [type]="'text'" [placeHolder]="'sdfdsfsdfsdfd'" [required]="true" [submitted]=isSubmit>
          </app-input-text>
        </div>
      </div>
      <div class="col-md-6">
        <button class="btn-primary right-item">View Charges</button>
      </div>
      
    </div>
    <div class="row field-row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <label class="label-mandatory width_60px">ST:</label>
            <div class="input-text-con calc_width_60 width_50px">
              <app-input-text [type]="'text'" [placeHolder]="'AZ'" [required]="true" [submitted]=isSubmit></app-input-text>
            </div>
          </div>
          <div class="col-md-7">
              <div class="input-text-con">
                <app-zip-code [placeHolder]="'12345'" [required]="true"></app-zip-code>
              </div>
          </div>
        </div>
      </div>      
    </div>
    <div class="row field-row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4">
              <label class="label-mandatory width_60px">{{label}} Date:</label>
              <div class="input-text-con calc_width_60">
                <app-input-text [type]="'text'" [placeHolder]="'07/08/2019'" [required]="true" [submitted]=isSubmit>
                </app-input-text>
              </div>
          </div>
          <div class="col-md-3">
              <label class="label-mandatory width_60px">{{label}} Time From:</label>
              <div class="input-text-con calc_width_60">
                <app-input-text [type]="'text'" [placeHolder]="'HS 1600'" [required]="true" [submitted]=isSubmit>
                </app-input-text>
              </div>
          </div>
          <div class="col-md-3 paddright0">
              <label class="label-mandatory width_60px">{{label}} Time To:</label>
              <div class="input-text-con calc_width_60">
                <app-input-text [type]="'text'" [placeHolder]="'HS 1800'" [required]="true" [model]="selectedAirPort"
                  [pipe]="'Time'"></app-input-text>
              </div>
          </div>
          <div class="col-md-2 nopadding">
            <div class="input-text-con">
              <app-dropdown [options]="ddOptions" (selection)="TimeCodeChangehandler($event)"></app-dropdown>
            </div>
          </div>   
        </div>        
      </div>
    </div>
    <div class="row field-row">
      <div class="col-md-6">
        <label class="label-nomandatory width_60px">Attention:</label>
        <div class="input-text-con calc_width_60 width_80">
          <app-input-text [type]="'text'" [placeHolder]="'sfd sdfdsf sdfdsfds'" [required]="true" [submitted]=isSubmit>
          </app-input-text>
        </div>
      </div>
      <div class="col-md-4 offset-md-2">
          <label class="label-nomandatory width_30px">Cell:</label>
          <div class="input-text-con calc_width_30">
            <app-input-text [type]="'mobile'" [placeHolder]="'11223344556677'"></app-input-text>
          </div>
      </div>
    </div>
    <div class="row field-row">
      <div class="col-md-6">
        <label class="label-nomandatory width_60px">Email Address:</label>
        <div class="input-text-con calc_width_60">
          <app-input-text [type]="'email'" [placeHolder]="'test@gmail.com'"></app-input-text>
        </div>
      </div>
      <div class="col-md-4 offset-md-2">
        <label class="label-nomandatory width_40px">Phone:</label>
        <div class="input-text-con calc_width_40">
          <app-input-text [type]="'mobile'" [placeHolder]="'(123)4567891'"></app-input-text>
        </div>
      </div>

     
    </div>
    <div class="row field-row">
      <div class="col-md-6">
        <label class="label-nomandatory width_60px">Show Code:</label>
        <div class="input-text-con calc_width_60 width_50">
          <app-input-text [type]="'text'" [placeHolder]="'sdgfsfdsfsdffdf'"></app-input-text>
        </div>
      </div>
      <div class="col-md-5 offset-md-1">
          <label class="label-nomandatory width_60px">Booth:</label>
          <div class="input-text-con calc_width_60">
            <app-input-text [type]="'mobile'" [placeHolder]="'11223344556677'"></app-input-text>
          </div>
        </div>
    </div>
  </div>
</div>
