<div class="zip-con">
<label class="zip-label">Zip:</label>
<input #ipElement1 class="iptext1" [value]="(value)?value.split('-')[0]:''"  type="text" minlength="5" maxlength="5" [readonly]="true"
[placeholder]="'42886'" (input)="iptext1Changehandler($event)"  />
<div class="line"></div>
<input #ipElement2 class="iptext2" [value]="(value)?value.split('-')[1]:''"  type="text" minlength="4" maxlength="4" [readonly]="true"
[placeholder]="'4288'" (input)="iptext2Changehandler($event)" />
</div>
