.zip-con{display: flex;
  flex-direction: row;
  flex-wrap:  nowrap ;
  justify-content:space-between;
  align-items: center;
}
.zip-label{
  color: #414449;
  font-weight: bold;
  text-align: left;
  margin: 0px 5px;
}


.line{
  width: 50px;
  height: 2px;
  background: #000;
}

