<div class="tab-item-container">
    <div class="row section-con">
      <div class="col-md-6">
        <div class="component-container">
          <div class="title-con">
            General Information
          </div>
          <div class="content-con">
            <div class="row field-row">
              <div class="col-md-6">
                <label class="label-mandatory width_70px">Booking Agent:</label>
                <div class="input-text-con calc_width_70">
                  <app-dropdown [options]="ddOptions" ></app-dropdown>
                </div>
              </div>
              <div class="col-md-6">
                <label class="label-mandatory width_70px">Rebate Agent:</label>
                <div class="input-text-con calc_width_70">
                  <app-dropdown [options]="ddOptions" ></app-dropdown>
                </div>
              </div>                                
            </div>
            <div class="row field-row">
              <div class="col-md-6">             
                <label class="label-mandatory width_70px">Book Method:</label>
                <div class="input-text-con calc_width_70">
                  <app-dropdown [options]="ddOptions" ></app-dropdown>
                </div>
              </div>       
              <div class="col-md-6">
                <label class="label-mandatory width_70px">Location:</label>
                <div class="input-text-con calc_width_70">
                  <app-dropdown [options]="ddOptions" ></app-dropdown>
                </div>
              </div>
                
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="component-container">
          <div class="title-con">
            Account Information
          </div>
          <div class="content-con">
            <div class="row field-row">
              <div class="col-md-3">
                <label class="label-mandatory width_70px">Customer Account:</label>
                <div class="input-text-con calc_width_70">
                  <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'" [readonly]="true"></app-input-text>
                </div>
              </div>
              <div class="col-md-3">
                <label class="label-mandatory width_70px">Payment Type:</label>
                <div class="input-text-con calc_width_70">
                  <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'" [readonly]="true"></app-input-text>
                </div>
              </div>
              <div class="col-md-6">
                <label class="label-mandatory width_50px">PO #:</label>
                <div class="input-text-con calc_width_50">
                  <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'" [required]="true"></app-input-text>
                </div>
              </div>
            </div>
            <div class="row field-row">
              <div class="col-md-5">
                <label class="label-nomandatory width_70px">Requestor:</label>
                <div class="input-text-con calc_width_70">
                  <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'" ></app-input-text>
                </div>
              </div>
              <div class="col-md-7">
                <label class="label-nomandatory width_100px">Sho-Air Bill #:</label>
                <div class="input-text-con calc_width_100">
                  <app-input-text [type]="'text'" [placeHolder]="'Lorem ipsum dolor sit amet, consectetuer adipiscin'"></app-input-text>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row section-con">
      <div class="col-md-6">
        <div class="component-container">
          <div class="title-con">
            Bill To
          </div>
          <div class="content-con">
            <div class="row field-row">
              <div class="col-md-6">
                <label class="label-mandatory width_70px">Bill To Name:</label>
                <div class="input-text-con calc_width_70">
                   <!-- <app-dropdown [options]="ddBillToOptions" (selection)="ddBillToChangeHandler($event)" [required]="true"></app-dropdown>-->
                   <app-autopopulate-input-text [options]="ddBillToOptions"
                   (serchText)="serchTextChangehandler($event)"
                   (selection)="ddBillToChangeHandler($event)"
                   [required]="true" [placeHolder]="''"></app-autopopulate-input-text>
                </div>
              </div>
              <div class="col-md-6">
                <label class="label-mandatory width_70px">Address 1:</label>
                <div class="input-text-con calc_width_70">
                  <app-input-text [type]="'text'" [value]="(selectedClient)?selectedClient.address1:''" [placeHolder]="'sfsdfd'" [readonly]="true"></app-input-text>
                </div>
              </div>
            </div>
            <div class="row field-row">
              <div class="col-md-6">
                <label class="label-nomandatory width_70px">Address 2:</label>
                <div class="input-text-con calc_width_70">
                  <app-input-text [type]="'text'" [value]="(selectedClient)?selectedClient.address2:''" [placeHolder]="'sfsdfd'" [readonly]="true" ></app-input-text>
                </div>
              </div>
              <div class="col-md-6">
                <label class="label-mandatory width_70px">City:</label>
                <div class="input-text-con calc_width_70">
                  <app-input-text [type]="'text'" [value]="(selectedClient)?selectedClient.city:''" [placeHolder]="'sfsdfd'" [readonly]="true"></app-input-text>
                </div>
              </div>
            </div>
            <div class="col-md-6 field-row">
              <div class="row">
                  <div class="col-md-5">
                      <label class="label width_60px">State:</label>
                      <div class="input-text-con calc_width_60">
                          <app-input-text [type]="'text'" [value]="(selectedClient)?selectedClient.state:''" [placeHolder]="'sfsdfd'" [readonly]="true"></app-input-text>
                      </div>
                  </div>
                  <div class="col-md-7">
                      <div class="input-text-con">
                          <app-zip-code [value]="(selectedClient)?selectedClient.zipcode:''" (zipCode)="zipCodeChangeHandler($event)" [readonly]="true"></app-zip-code>
                      </div>
                  </div>
              </div>
          </div>
  
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="component-container">
          <div class="title-con">
            Contact Information
          </div>
          <div class="content-con">
            <div class="row field-row">
              <div class="col-md-6">
                <label class="label-nomandatory width_70px ">Attention To:</label>
                <div class="input-text-con calc_width_70">
                  <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'"></app-input-text>
                </div>
              </div>
              <div class="col-md-6">
                <label class="label-nomandatory width_70px">Email Address:</label>
                <div class="input-text-con calc_width_70">
                  <app-input-text [type]="'text'" [placeHolder]="'toni@goodvibes.ga'"></app-input-text>
                </div>
              </div>
            </div>
            <div class="row field-row">
              <div class="col-md-6">
                <label class="label-nomandatory width_70px">Phone Number:</label>
                <div class="input-text-con calc_width_150">
                  <app-input-text [type]="'mobile'" [placeHolder]="'(617) 959-4617'"></app-input-text>
                </div>
              </div>
              <div class="col-md-6">
                <label class="label-nomandatory width_70px">Fax Number:</label>
                <div class="input-text-con calc_width_150">
                  <app-input-text [type]="'mobile'" [placeHolder]="'(617) 959-4617'"></app-input-text>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row section-con company-con">
      <div class="col-md-6">
        <!--Billto Selection INTEl Only-->
        <div class="component-container" *ngIf="selectedClient && selectedClient.value == 'intel'">
              <div class="title-con">Intel Only</div>
          <div class="content-con">
            <div class="row">
              <div class="col-md-10">
                <div class="field-row">
                  <label class="label-nomandatory width_70px">LOC:</label>
                  <div class="input-text-con calc_width_70">
                    <app-dropdown [options]="ddOptions"></app-dropdown>
                  </div>
                </div>
                <div class="field-row">
                  <label class="label-nomandatory width_70px">CC:</label>
                  <div class="input-text-con calc_width_70">
                    <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'"></app-input-text>
                  </div>
                </div>
                <div class="row field-row">
                  <div class="col-md-4">
                    <label class="label-nomandatory width_70px">ISM:</label>
                    <div class="input-text-con calc_width_70">
                      <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'"></app-input-text>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="label-nomandatory width_70px">DDLC:</label>
                    <div class="input-text-con calc_width_70">
                      <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'"></app-input-text>
                    </div>
                  </div>
                </div>
                <div class="row field-row">
                  <div class="col-md-12">
                    <label class="label-nomandatory width_70px noteTxt">Notes:</label>
                    <div class="input-text-con notes-con calc_width_70">
                      <!-- <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'"></app-input-text> -->
                      <textarea placeholder="Input Text"></textarea>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
        <!--Billto Selection INTEl Only-->
      <div class="component-container" *ngIf="selectedClient && selectedClient.value == 'microsoft'">
          <div class="title-con">Microsoft Only</div>
          <div class="content-con">
            <div class="row">
              <div class="col-md-12">    

                <div class="row field-row">
                  <div class="col-md-4">
                    <label class="label-nomandatory width_70px">REF:</label>
                    <div class="input-text-con calc_width_70">
                      <app-input-text [type]="'text'" [placeHolder]="'68990'"></app-input-text>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="label-nomandatory width_70px">MS Inv:</label>
                    <div class="input-text-con calc_width_70">
                      <app-input-text [type]="'text'" [placeHolder]="'12345678910'"></app-input-text>
                    </div>
                  </div>
                  <div class="col-md-4">
                      <label class="label-nomandatory width_70px">MOP:</label>
                      <div class="input-text-con calc_width_70">
                        <app-input-text [type]="'text'" [placeHolder]="'123456'" ></app-input-text>
                      </div>
                    </div>
                </div>
                <div class="row field-row">
                    <div class="col-md-12">
                    <label class="label-nomandatory width_70px noteTxt">Notes:</label>
                    <div class="input-text-con notes-con calc_width_70">
                      <!-- <app-input-text [type]="'text'" [placeHolder]="'Input Text'"></app-input-text> -->
                      <textarea placeholder="Input Text"></textarea>
                    </div>
                    </div>
                  </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="component-container" *ngIf="selectedClient && selectedClient.value == 'microsoft' || selectedClient &&  selectedClient.value == 'intel'">
          <div class="title-con">
            Credit Card Information
          </div>
          <div class="content-con">
            <div class="row field-row">
              <div class="col-md-5">
                <label class="label-nomandatory width_70px">Credit Card Type:</label>
                <div class="input-text-con calc_width_70">
                  <app-dropdown [options]="ddOptions"></app-dropdown>
                </div>
              </div>
              <div class="col-md-7">
                <label class="label-nomandatory width_70px">Name on Card:</label>
                <div class="input-text-con calc_width_70">
                  <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'" ></app-input-text>
                </div>
              </div>
            </div>
            <div class="row field-row">
              <div class="col-md-5">
                <label class="label-nomandatory width_70px">Card Number:</label>
                <div class="input-text-con calc_width_70">
                  <app-input-text [type]="'text'" [placeHolder]="'5423 5455 4565 5415'" ></app-input-text>
                </div>
              </div>
              <div class="col-md-7">   
                  <div class="row">
                      <div class="col-md-7">
                          <label class="label-nomandatory width_70px">Expiration MM/YY:</label>
                          <div class="input-text-con width_50px">
                              <app-input-text [type]="'text'" [placeHolder]="'MM'" ></app-input-text>
                              
                          </div>
                          <div class="linespace">/</div>
                          <div class="input-text-con width_50px">
                              <app-input-text [type]="'text'" [placeHolder]="'YY'" ></app-input-text>
                          </div>
                      </div>
                      <div class="col-md-5">
                          <label class="label-nomandatory width_50px">Security Code:</label>
                          <div class="input-text-con calc_width_50">
                              <app-input-text [type]="'text'" [placeHolder]="'099'"></app-input-text>
                          </div>
                      </div>
                  </div>  
              </div>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  