<div class="nav-con text-right">
    <div class="row">
      <div class="col-md-12">
          <button type="button" class="btn pull-left-btn cancel-btn"
           (click)="prevBtnClickHandler($event)">Cancel Booking</button>
          <button type="button" class="btn nav-btn btn-default pull-left-btn"
            *ngIf="showPrev"
           (click)="prevBtnClickHandler($event)">Previous</button>
          <button type="button" class="btn nav-btn btn-default pull-right-btn"
          *ngIf="index < total"
          (click)="nextBtnClickHandler($event)">Next</button>
      </div>

    </div>
</div>
