.nav-con {
  .btn {
    font-size: 11px;
    font-weight: 600;
    padding: 4px 25px;
    margin-right: 10px;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:last-child {
      margin-right: 0;
    }
    &.cancel-btn {
      background: #ff4242;
      color: #FFF;
      border-color: #ff4242;
    }
  }
}
.pull-left-btn {
  float: left;
}
.pull-right-btn {
  float: right;
}


.nav-btn {
  border-color: #3366ff;
  color: #3366ff;
  background: #ecf0fc;
}
