<div class="tab-item-container">
  <div class="row section-con">
      <div class="col-md-6">
            <app-address [title]="'Origin'"   [label]="'Load'" [type]="'Shipper'" ></app-address>
      </div>
      <div class="col-md-6">
            <app-address [title]="'Destination'"   [label]="'Del'" [type]="'Consignee'"></app-address>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12 freight-con">
          <app-freight></app-freight>
      </div>
  </div>
</div>
