<select #ddElement [required]="required" (change)="changeOptions($event)">
    <option value="select">Select</option>
    <option *ngFor="let option of options;"  [value]="option.value">{{option.label}}</option>
</select>
