.tab-item-container, .nav-con {
  max-width: 1366px;
  margin: 15px auto 0;
  padding: 0 20px;
}
.mat-tab-links .mat-tab-link {
  text-decoration: none;
  opacity: 1;
  border-bottom: 4px solid #3366ff;
}
.mat-tab-links .mat-tab-link:first-child {
  margin-right: 2px;
}
.mat-tab-links .mat-tab-link:not(:first-child),
.mat-tab-links .mat-tab-link:not(:last-child) {
  margin-right: 2px;
}
.mat-tab-links .mat-tab-label-active {
  color: white;
  opacity: 1;
}
.mat-tab-label-active {
  background-color: #3366ff;
  color: white;
}
.mat-tab-body-content {
  overflow: hidden !important
}

.width_30px {
  width: 30px;
}
.width_40px {
  width: 40px;
}
.width_50px {
  width: 50px;
}
.width_60px {
  width: 60px;
}
.width_70px {
  width: 70px;
}
.width_80px {
  width: 80px;
}
.width_100px {
  width: 100px;
}
.width_auto {
  width: auto
}
.width_100 {
  width: 100%
}
.width_80 {
  width: 80%
}
.width_50 {
  width: 50%
}
.width_40 {
  width: 40%
}
.calc_width_30 {
  width: calc(100% - 30px);
}
.calc_width_40 {
  width: calc(100% - 40px);
}
.calc_width_50 {
  width: calc(100% - 50px);
}
.calc_width_60 {
  width: calc(100% - 60px);
}
.calc_width_70 {
  width: calc(100% - 70px);
}
.calc_width_80 {
  width: calc(100% - 80px);
}
.calc_width_100 {
  width: calc(100% - 100px);
}
.calc_width_110 {
  width: calc(100% - 110px);
}
.calc_width_150 {
  width: calc(100% - 150px);
}
.margin_5px {
  margin: 0px 5px;
}
.paddleft13 {
  padding-left: 13px;
}
.nopadding {
  padding: 0!important;
}
.paddright0 {
  padding-right: 0!important;
}
.paddleft0 {
  padding-left: 0!important;
}

input[type=text],input[type=number], input[type=mobile], input[type=email],
select {
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #8f9bb3;
  padding: 2px 2px 2px 6px;
  color: #3b4159;
  &[readonly] {
    &:focus {
      outline: none
    }
  }
}  
textarea {
  font-size: 12px;
  font-family: inherit;
  width: 100%;
  height: 45px;
  padding: 5px 6px;
  border: 1px solid #8f9bb3;
  border-radius: 4px;
  color: #3b4159;
  resize: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  border: 0px;
  border-radius: 5px;
  padding: 5px;
  &:hover, &:focus {
    outline: none;
    box-shadow: none!important;
  }
}


.billing-tab {
  .field-row {
    margin-bottom: 7px;
  }
  .mat-tab-links {
    border-bottom: 4px solid #737885;
  }
  .mat-tab-link {
    height: 40px;
    background-color: #eaeaea;
    border: 1px solid #BEBEBE;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    font-size: 14px;
    font-weight: 600;
    margin: 0 !important;
  }

  .mat-tab-label-active {
    background-color: #737885;
    color: #FFF;
  }
  [class*="col-md-"] {
    padding: 0 10px;
  }
  .row {
    margin: 0 -10px;
    &.section-con {
      margin-bottom: 15px;
    }
    &.field-row {
      margin-bottom: 7px;
    }
  }

}

.component-container {
  background: #ebebeb;
  height: 100%;
  border-radius: 10px 10px 0 0;
  .title-con {
    border-radius: 10px 10px 0px 0px;
    background: #d0d0d0;
    color: #1d1d1d;
    padding: 10px 20px;
    font-weight: 600;
  }

  .content-con {    
    padding: 10px 10px 3px;
    .right-item {
      float: right
    }
    label {
      font-size: 12px;
      margin-bottom: 0;
      color: rgba(0,0,0,0.85);
      font-weight: bold;
      text-align: right;
      line-height: 15px;
      vertical-align: middle;  
    }

    .label-nomandatory { 
      font-weight: 400; 
    }   

    .input-text-con {
      display: inline-block;
      vertical-align: top;
      padding-left: 7px;
      &.row {
        display: inline-flex;
      }
    }
    .linespace {
      display: inline-block;
      padding-left: 5px;
      vertical-align: middle;
      height: 30px;
    }
    .noteTxt {
      height: 45px;
      line-height: 45px;
    }
  }
}
