<div class="billing-tab">
      <nav mat-tab-nav-bar [color]="'primary'" mat-stretch-tabs class="example-stretched-tabs">
        <a mat-tab-link
          *ngFor="let link of navLinks"
          [routerLink]="link.link"
          routerLinkActive ="mat-tab-label-active"
          #rla="routerLinkActive"
          [active]="link.isActive">
           {{link.label}}
          </a>
        </nav>
        <router-outlet></router-outlet>
        <app-navigation
        [index]="activeLinkIndex"
        [total]="navLinks.length"
        [showPrev]="showPrevBtn"
        (clickEvent)="navigationClickHandler($event)"></app-navigation>
</div>



