<div class="autoip-container">
<input #ipElement [class]="class"  type="text" [placeholder]="placeHolder" [required]="required"
   (focusout)="focusOutFunction($event)"/>
   <div id="autocomplete-list" class="autocomplete-items" *ngIf="options && options.length>0" >
      <div class="" *ngFor="let option of options" (click)="optionSelecthandler($event,option)">
            {{option.label}}
      </div>
  </div>

</div>
