/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,body{
  margin: 0px;
  font-family: "Open Sans";
  background-color: #fcfcfc;
  font-size: 14px;
}



