<div class="component-container">
  <div class="title-con">
    Freight
  </div>
  <div class="content-con">
    <div class="row field-row">
      <div class="col-md-1 paddright0">
        <label class="label-mandatory width_40px">Pieces:</label>
        <div class="input-text-con calc_width_40">
          <app-input-text [type]="'text'" [placeHolder]="'10'" [required]="true" [submitted]=isSubmit>
          </app-input-text>
        </div>
      </div>
      <div class="col-md-2">
        <label class="label-mandatory width_80px">Actual Weight(LBS):</label>
        <div class="input-text-con calc_width_80">
          <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'" [required]="true" [submitted]=isSubmit>
          </app-input-text>
        </div>
      </div>
      <div class="col-md-2">
        <label class="label-nomandatory width_80px">Actual Weight(KG):</label>
        <div class="input-text-con calc_width_80">
          <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'" [submitted]=isSubmit>
          </app-input-text>
        </div>
      </div>
      <div class="col-md-2">
        <label class="label-mandatory width_80px">Corporate Account:</label>
        <div class="input-text-con calc_width_80">
          <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'" [required]="true" [submitted]=isSubmit>
          </app-input-text>
        </div>
      </div>
      <div class="col-md-3">
        <label class="label-mandatory width_80px">Service Level:</label>
        <div class="input-text-con calc_width_80 row">
          <div class="col-md-6">
              <app-dropdown [options]="ddOptions" [required]="true"></app-dropdown>
          </div>
          <div class="col-md-6">
              <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'" [required]="true" [submitted]=isSubmit>
                </app-input-text>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <label class="label-mandatory width_80px">Declared Value:</label>
        <div class="input-text-con calc_width_80">
          <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'" [required]="true" [submitted]=isSubmit>
          </app-input-text>
        </div>
      </div>
    </div>
    <div class="row field-row">
      <div class="col-md-2 offset-md-1">
        <label class="label-nomandatory width_80px">DIM Weight(LBS):</label>
        <div class="input-text-con calc_width_80">
          <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'" [submitted]=isSubmit>
          </app-input-text>
        </div>
      </div>
      <div class="col-md-2">
        <label class="label-nomandatory width_80px">DIM Weight(KG):</label>
        <div class="input-text-con calc_width_80">
          <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'" [submitted]=isSubmit>
          </app-input-text>
        </div>
      </div>
      <div class="col-md-7">
        <button class="btn-primary right-item">Calculate Dimensions</button>
      </div>
    </div>
    <div class="row field-row">
        <div class="col-md-10">
            <label class="label-nomandatory width_80px noteTxt">Description:</label>
            <div class="input-text-con notes-con calc_width_80">
              <!-- <app-input-text [type]="'text'" [placeHolder]="'sfsdfd'" [required]="true" [submitted]=isSubmit>
              </app-input-text> -->
              <textarea placeholder="Input Text"></textarea>
            </div>
        </div>

      
    </div>
  </div>
</div>
